@import "1.Utils/variables.scss";
@import "1.Utils/fonctions.scss";
@import "1.Utils/mixin.scss";

body {
  font-family: roboto, shrikhand;
  background-color: #F4FCF8;
  width:100%;
  margin:0;
}

section {
  padding-left:5px;
  padding-right:5px;
}

.title {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom:5px;
    img{
    width:50%;
    margin-left:25%;
    }
}
  
.map {
  display:flex;
  align-items: center;
  justify-content: center;
}


.resto img {
  @include img--size;
}