@import "1.Utils/variables.scss";
@import "1.Utils/fonctions.scss";
@import "1.Utils/mixin.scss";

body {
  font-family: roboto, shrikhand;
  background-color: white;
  width:100%;
  margin:0;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding:0;
}

h3{
  font-size: $fontsize;
}

header{
  background-color: $background-color;
  font-size: $fontsize;
}

.fa-heart:before {
  content: "\f004";
  font-size: 1.4rem;
}

.fa-bars:before {
  content: "\f0c9";
  margin-left: -50px;
}

.title {
    @include title;
    img{
    width:50%;
    margin-left:25%;
    }
}

.map {
  @include map;
    & p{
      margin-left: 15px;
    }
}

.reserve{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: space-evenly;
  p{
    align-items: center;
  }
}

.btn{
  @include btn;
}

.fonction{
  height:300px;
  padding-top:20px;
}
.containmenu{
  @include containmenu;
}

.menuh3{
  margin-left: -45px;
}

.menuh{
  margin-left: -8px;
}

.menu{
  @include menudiv;
  i{
    margin-left: 20px;
    margin-right: 30px;
    color:grey;
  }
  p{
    @include pcolor;
  }
  &:hover i{
    color:$primary;
  }
  &:hover{
    @include background-hover;
  }
}

section{
  @include section;
}

.resto{
  @include resto;
}

.container{
  @include container;
  img {
  @include img--size;
  }
}

.carte{
  @include carte;
  span{
    @include nouveau;
  }
  h3{
    margin-left: 10px;
    color:black;
  }
  p{
   margin-top:-10px;
   margin-left: 10px;
   color: black;
  }
  i{
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    color: black;
  }
}

.fa-utensils:before {
  content: "\f2e7";
  margin-right: 7px;
}

footer{
  @include footer;
  i{
    font-size: 15px;
  }
  p{
    font-family: shrikhand;
  }
  ul{
    line-height: 1.5em;
  }
}
