@mixin btn { 
    background: linear-gradient(to bottom right,#ff39da,#9356dc);
    border-radius: $radiusdiv;
    padding: $paddingbtn;
    color: white;
    width: 60%;
    border: none;
}

@mixin img--size {
    width:$sizeimage;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@mixin padding{
    padding-left:$padding;
    padding-right: $padding;

}

@mixin title{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom:5px;
    border-bottom: 2px solid #D2D2D2;
}

@mixin map{
    display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234,234,234);
  font-weight: bold;
  margin-left:-20px;
}

@mixin containmenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:200px;
}

@mixin menudiv {
    display: flex;
    box-shadow: $shadowdiv;
    border-radius: $radiusdiv;
    background-color: rgb(246,246,246);
    align-items: center;
    width: $widthdiv;
    height: 55px;
}

@mixin background-hover{
    background-color: $light-primary;
    
}

@mixin pcolor{
    border-radius: $radiusdiv;
    background-color: $primary;
    padding:2px 6px 1px 6px;
    overflow:hidden;
    margin-left: -10px;
    color: white;
    font-size: 0.8rem;
}

@mixin section{
    padding:$paddingsection;
}

@mixin resto{
    background-color: $background-color;
    padding-top:20px;
    padding-bottom: 40px;
}

@mixin nouveau{
    float: right;
    background-color: $tertiaire;
    border-radius: 2px;
    padding: 5px 8px 5px 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color:rgb(19,146,115);
}

@mixin container{
    display: flex;
    height:22.5%;
    width:$widthdiv;
    justify-content: space-around;
    flex-direction: column;

}

@mixin carte{
    height: 220px;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
    border-radius:$radiusdiv;
}

@mixin footer{
    padding:20px 0px 10px 20px;
    background-color: #454545;
    color: white;
}