@mixin btn { 
    
}

@mixin img--size {
    width:$sizeimage;
    height: 400px;
    object-fit: cover;

}

@mixin padding{
    padding-left:$padding;
    padding-right: $padding;

}

@mixin div {
    
}
